
*, *::before, *::after {
    box-sizing: inherit;
}
html {
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

body{
	background-image: url(wall.jpg);
	background-repeat: no-repeat;
	background-size: cover ;
	height: 100%;
	margin: 0PX;
}


.imagen-top{
	
	display: flex;
	flex-direction: row;
	width: 70%;
	background-color: none;
	margin: auto;
	margin-top: 3vw;
	margin-bottom: 3vw;
	text-align: center;

}
.imagen-top img{
	width: 10%;
}

h1{
	font-family: 'Odibee Sans', cursive;
	font-size: 4vw;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;

}


.contenedor{
	display: flex;
	flex-direction: column;
	width: 70%;
	background-color: none;
	margin: auto;
	margin-top: 3vw;
	text-align: center;
	box-shadow: 10px 10px 5px 0px #F54242;
	color: white;
	border: 2px solid black;

}

.boton1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
  }

.boton1:hover{
color: black;
background-color: white;
}

.campo{
    outline: none;
    font-size: 2vw;
    background-color: transparent;
    border: 1px solid black; 
    border-radius: 3px;
    text-align: center;
}



.resultado{
	font-size: 2vw;
	font-family: 'Roboto', sans-serif;
	background-color: red;
}
footer{
  background: black;
  text-align: right;
  color: white;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0px;
  margin-top: 5%;
  
}